<h1 class="text-center" style="color: green;margin-top:20px">Hi,{{user.Name}} Order Placed Successfully</h1>
<a href="/orders" class="btn btn-success" style="text-align: center;margin-left:800px;margin-top:30px">View orders</a>